<div class="login-main-container h-100 w-100">
  <div class="form-background p-0">
    <img
      class="col-3 align-self-center"
      src="https://png.pngtree.com/png-clipart/20221001/original/pngtree-shopping-logo-design-for-online-store-website-png-image_8647300.png"
    />
    <h6 class="text-center text-primary">Create Account</h6>
    <form
      [formGroup]="userSignupForm"
      (ngSubmit)="onFormSubmit($event)"
      class="w-100 d-flex flex-column justify-content-center align-items-center row-gap-2 user-sign-up"
    >
      <div class="d-flex flex-column col-8 align-self-center">
        <label class="text-start" for="username">User Name</label>
        <input type="text" id="username" formControlName="userName" />
        <small *ngIf="isFormSubmitted && userSignupForm.get('userName')?.errors?.['required']"
          >user name required</small
        >
      </div>
      <div class="d-flex flex-column col-8 align-self-center">
        <label for="email" class="text-start">Email</label>
        <input type="email" id="email" formControlName="email" />
        <small *ngIf="isFormSubmitted && userSignupForm.get('email')?.errors?.['required']"
          >Email required</small
        >
        <small *ngIf="isFormSubmitted && userSignupForm.get('email')?.errors?.['email']"
          >Email required</small
        >
      </div>
      <div class="d-flex flex-column col-8 align-self-center">
        <label for="password" class="text-start">Password</label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" />
           <i
              class="eye"
              [class.show]="showPassword"
              (click)="togglePassword()">
            </i>
        </div>
        <small *ngIf="isFormSubmitted && userSignupForm.get('password')?.errors?.['required']"
          >password required</small
        >
        <small *ngIf="isFormSubmitted && userSignupForm.get('password')?.errors?.['weakPassword']"
          >strong password required</small
        >
      </div>
      <div class="d-flex flex-column col-8 align-self-center">
        <label for="reEnterPassword" class="text-start">Renenter Password</label>
        <input type="password" id="reEnterPassword" formControlName="reenterPassword" />
        <small
          *ngIf="isFormSubmitted && userSignupForm.get('password')?.value && userSignupForm.get('reenterPassword')?.errors?.['required']"
        >
          reenter password</small
        >
        <small *ngIf="isFormSubmitted && userSignupForm.hasError('passwordMismatch')">
          Passwords do not match
        </small>
      </div>
      <button type="submit" type="submit" class="btn btn-primary col-3 align-self-center mt-3">
        SignUp
      </button>
    </form>
  </div>
</div>
