.login-main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('https://www.visiondesign.com/wp-content/uploads/hero-background-ecommerce.jpg') no-repeat center/cover fixed padding-box;

    .form-background {
        height: 510px;
        width: 500px;
        background: #efefef;
        margin-left: 20vw;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 8px;

        label {
            font-size: 14px;
            font-family: Roboto;
        }

        input {
            border: 1px solid black;
            border-radius: 4px;
        }

        input:focus {
            outline: none;
            border: 1px solid black;
        }

        small {
            text-align: left;
            color:  red;
            font-size: 11px;
        }
    }
}